@model JustFeedBackend.Models.Resturant

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Resturant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone_number" class="control-label"></label>
                <input asp-for="Phone_number" class="form-control" />
                <span asp-validation-for="Phone_number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Longitude" class="control-label"></label>
                <input asp-for="Longitude" class="form-control" />
                <span asp-validation-for="Longitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Latitude" class="control-label"></label>
                <input asp-for="Latitude" class="form-control" />
                <span asp-validation-for="Latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Min_order" class="control-label"></label>
                <input asp-for="Min_order" class="form-control" />
                <span asp-validation-for="Min_order" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Range_delivery" class="control-label"></label>
                <input asp-for="Range_delivery" class="form-control" />
                <span asp-validation-for="Range_delivery" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="delivery_charge" class="control-label"></label>
                <input asp-for="delivery_charge" class="form-control" />
                <span asp-validation-for="delivery_charge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserID" class="control-label"></label>
                <select asp-for="UserID" class ="form-control" asp-items="ViewBag.UserID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
